* {
    margin: 0px;
    padding: 0px;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: lightgray;
}

.container {
    /* margin-top: 20px; */
    display: flex;
    display: inline-block;
    justify-self: center;
    text-align: center;
    align-items: center;
    direction: row;
    width: 360px;
    height: auto;
    background-color: white;
    padding: 25px;
}

h3,
p {
    display: inline-block;
}

.question {
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 360px;
    height: 54px;
    background-color: rgba(173, 216, 230, 0.419);
    border-radius: 6px;
    margin: 10px 0px;
}

.click {

    display: flex;
    justify-content: center;
    align-items: center;
    width: 360px;
    
    height: auto;
    font-size: 16px;
    background: lightgrey;

    margin-right: 5px;
}

.button {
    width: 30px;
    height: 30px;
    background: white;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 50%;
    margin-top: 5px;
}

